# Dependencies
node_modules/
/node_modules/
functions/node_modules/
apps/functions/node_modules/

# Next.js
/.next/
/out/
apps/web/.next/
apps/web/out/

# Production
/build/
/dist/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env.example
!/.env.example

# gcloud
.gcloud/

# Terraform
/infra/techsnap/plan/*
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl
*.backend.hcl
*.tfplan

# Analysis files
/env_audits/

# CICD
cicd-sa-key.json

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db
