@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --container-max: 1120px;
  }
  .container {
    max-width: var(--container-max);
  }
  a {
    @apply transition-colors;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
